In [10]:
# 자료구조: 자료를 저장 및 관리하는 방법
# 알고리즘: 문제를 해결하는 방법
#자료 구조중 어제 리스트에 관해 배웠다. 이번엔 튜플에 대해 공부해보자.
#딕셔너리, 튜플, 
#Json - 딕셔너리 자료구조랑 비슷하다. 
#딕셔녀러 가볍고 전송에 용이하다.
#전체 주석처리하려면 블록 잡고, Ctrl + "/" , 해제 하는법 동일.

"""
튜플(): 리스트[]와 비슷. 기호가 다르다 e.g., 튜플( ,  , ) 이런식으로
리스트는 생성, 삭제, 수정 가능
튜플은 변경을 할 수 없음. 괄호로 묶지 않아도 사용 가능

"""
a=(3,2,5,6,1) #튜플 (3,2,5,6,1)
a
a=3,2,5,6,1 #튜플 (3,2,5,6,1), 가독성을 위해 묶어 주는게 좋다. 구분을 위해
a

a1=() #빈 튜플 생성
a1

#a2=5  #a2는 int
a2=5, # tuple , 값을 1개 저장한 튜플을 정의할때는 컴마를 써야함.
type(a2)

a3=('john', 25, 180.5,True) #튜플은 리스트처럼 자료형(실수,문자,boolin)에 
#관계없이 자료를 저장할 수 있다.
a3
#a3[1] =50 에러
#튜플은 변경이 안되므로, 데이터가 계속 유지 되어야 할 경우 사용.

('john', 25, 180.5, True)

In [11]:
a= tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [22]:
# 튜플 <-> 리스트, 상호 변환이 가능하다. 
a=[1,2,3] #[1,2,3]
a
tuple(a) #(1,2,3)
a
#list(a)  #[1,2,3]
a

[1, 2, 3]

In [23]:
list('hello') #기억! 문자열이 각각의 문자열로 분리되서 리스트된다. #['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

In [24]:
tuple('hello') #('h', 'e', 'l', 'l', 'o')

('h', 'e', 'l', 'l', 'o')

In [33]:
x,y = [1,2]
x
y
x,y = (1,2,3)# ValueError: too many values to unpack (expected 2)
x
y
#unpacking: 리스트(튜플)의 요소를 여러개의 변수에 할당하는 것.
#packing: 변수에 리스트 또는 튜플을 할당 하는것. 
a=[1,2,3,] #리스트 패킹
b=(1,2,3) #튜플 패킹

ValueError: too many values to unpack (expected 2)

In [41]:
t1=(1,2,'x','y')
t1
#del t1[0] #삭제 불가, TypeError: 'tuple' object doesn't support item deletion
#t1[0]=5 #변경 불가,TypeError: 'tuple' object does not support item assignment
t1[1:] #(2, 'x', 'y')
t2=(3,4)
t1+t2 #(1, 2, 'x', 'y', 3, 4)
t2*3#(3, 4, 3, 4, 3, 4)
len(t1) #4

4

In [51]:
#시퀀스(자료)형: 리스트, 튜플, range, 문자열. 데이터는 연속적으로 표현.
#시퀀스형의 자료(객체)에 특정 값이 존재하는지 확인하는법

#0~90까지 10씩 증가한 값으로 리스트 생성
#a=list(range(0,91,10))
a=tuple(range(0,91,10)) #튜플도 가능하다.
a #a는 지금 시퀀스 리스트
#시퀀스형(리스트, 튜플, range, 문자열 모두)에 대해 in 연산자 사용 가능
30 in a #a 변수 안에 (시퀀스형) 안에 30이 있느냐? #True
100 in a #False # 굉장히 많이 쓰인다. 이러한 문법
30 not in a #not in a # False
100 not in a #True

True

In [56]:
'h'in'hello, python' #문자열도 가능 #True
'h'not in'hello, python' #'False
7 in range(100) #True
100 in range(100) #False

False

In [70]:
#+연산자로 시퀀스형에 대한 자료 연결이 가능
#range만 안된다. 
a=[1,2]
b=[3,4]
a+b
'hello'+'hi'
a=(1,2)
b=(3,4)
a+b
#range(0,3) +range(3,5) #TypeError: unsupported operand type(s) for +: 'range' and 'range'
#range는 하나의 객체로 존재하기 때문에 에러발생, +연산 할려면 객체를 풀어줘야한다.
#list(range(0,3))+list(range(3,5))#[0, 1, 2, 3, 4]
#tuple(range(0,3))+tuple(range(3,5)) #(0, 1, 2, 3, 4)
#리스트 + 튜플처럼 자료형이 다른 경우에는 연결이 불가능. 
#list(range(0,3))+tuple(range(3,5)) #TypeError

# 문자에 숫자 연결 안됨.(숫자를 문자로 변환하면 가능)
#'hi' + 7 # 에러발생
'hi'+ str(7) #'hi7'
'hi'+str(3.14) #'hi3.14'
#숫자를 문자로 변환. 기억하기! 그래야 연결이 가능.

#range(0,3)*3 #에러 발생
list(range(0,3))*3 #[0, 1, 2, 0, 1, 2, 0, 1, 2] #list로 변환후 반복 or tuple로 변환 후
#range 자체만으로 안되는게 많다.

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [77]:
#len:시퀀스 자료형에 해당되는 데이터의 길이
a=[1,2,3]
len(a)
a=(1,2,3)
len(a)
len(range(0,3))
len('hello') #5

hi='안녕'
len(hi) #2 #len은 문자의 개수
# utf-8 유니코드-8(1 character-3byte), -16, Universal
len(hi.encode('utf-8')) #6

6

In [80]:
#시퀀스형에 대한 자료 참조는 대괄호 [] 기호를 사용
x='HI HELLO'
#x[0] -> x.__getitem__(0) #. tap -> 메소드 
#x.__getitem__(0) 
#x[10] # 앞으로 많이 겪게될 에러 #IndexError: string index out of range

IndexError: string index out of range

In [85]:
x[len(x)-1] # 'O'
x[-1] #'O'

'O'

In [106]:
x[2:-1] #인덱스 2번부터 맨 마지막까지
x[2:] #' HELLO'
x[1:7:2] #인덱스 1부터 2씩 증가하면서 인덱스 6번까지 가져옴 #'IHL'
x[:8:2] #'H EL'
x[3::2]
x[::2]
x[::] #전체 출력 # x #'HI HELLO'

x[5:1] #'' #5번부터 1번이라서, 기본 defalut가 1씩 증가하는거라서, 참조할게 없다.

x[5:1:-1] #5,4,3,2 #'LEH '
x[::-1] #역순 #'OLLEH IH'  
# 이러한 작업들이 데이터 전처리 할때 많이 쓰인다.

x[0:len(x)] #'HI HELLO'
x[:len(x)] #'HI HELLO'

#튜플도 리스트와 동일

x=range(10)
x[4:7] #range(4, 7)
range(0,7,2) #range(0, 7, 2) 객체가 나온다.
list(range(0, 7, 2)) #[0, 2, 4, 6]

x="hello world"
x[:10:3] #'hlwl'

'hlwl'

In [108]:
a=list(range(0,91,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [110]:
a[1] =11
a

[0, 11, 20, 30, 40, 50, 60, 70, 80, 90]

In [119]:
a[2:5]=[21,31,'x'] #리스트는 자료형에 상관없이 수정, 변경이 가능하기에.
a #[0, 11, 21, 31, 'x', 50, 60, 70, 80, 90]
a[1:9:2] = ['a','b','c','d'] #[0, 'a', 21, 'b', 'x', 'c', 60, 'd', 80, 90]
a

ValueError: attempt to assign sequence of size 4 to extended slice of size 1

In [118]:
a
del a[2:6] #2번부터 5번까지 제거
a
del a[:5:2]
a

[]

In [120]:
#딕셔너리(자료구조): KET(키)와 VALUE(값)으로 자료를 표현. 사용 빈도가 가장 높다. 
#key : Value , 형식으로 사용.
"""
person = [180, 70, 'O', '서울']

person2={'키':180, '몸무게':70, '혈액형':'O', '사는곳':'서울'}

"""

"\nperson = [180, 70, 'O', '서울']\n\nperson2={'키':180, '몸무게':70, '혈액형':'O', '사는곳':'서울'}\n\n"

In [134]:
person = [180, 70, 'O', '서울']

person2={'키':180, '몸무게': 70, '혈액형':'O', '사는곳':'서울', 
        False:0, 99: '구구', 3.14:[3.14,'원주율']}
#딕셔너리를 다른 언어에서는 맵, 해쉬라고 부른다.
# SyntaxError: invalid syntax, key or Value 둘중에 하나만 없어도 나오는 에러.
# ['주소','전번']:'서울,02' 리스트는 못온다.

In [122]:
person

[180, 70, 'O', '서울']

In [130]:
person2 #key가 중복되면 마지막 자료가 저장.

{'키': 180,
 '몸무게': 70,
 '혈액형': 'O',
 '사는곳': '서울',
 False: 0,
 99: '구구',
 3.14: [3.14, '원주율']}

In [136]:
person2={'키':180, '몸무게': 70, '혈액형':'O', '사는곳':'서울',
         '취미':{'오전':['수영','야구'],'오후':'공부'}}
#딕셔너리 (Value안)에 딕셔너리를 넣을 수 있다. 
#딕셔너리로 표현된곳에 리스트까지 가능.
person2

{'키': 180,
 '몸무게': 70,
 '혈액형': 'O',
 '사는곳': '서울',
 '취미': {'오전': ['수영', '야구'], '오후': '공부'}}

In [ ]:
"""
딕셔너리가 Json과 비슷하다. Key: Value , (빨간책; page 251 참고)
NoSQL과 구조가 같다.

HTML-> XML 작성하면 컴퓨터가 이해할 수있도록 하는 프로그램을 만들어야 한다.
HTML 문서가 무겁고, 컴퓨터가 이해하기 어렵다.
Json, xml, 읽어 들이는것 연습- 웹 크롤링
"""

In [ ]:
""" 
클라우드 공부한걸 남들한테 보여주려면 Github에 자료 정리 잘해서 업로드 해야
남들이 보고 알아본다. 나의 가치를

"""

In [ ]:
"""
딕셔너리
- key, value가 여러 쌍으로 구성
- 컴마로 구분
- key는 변하지 않는것을 사용
- value는 변하는값/변하지 않는 값 모두 사용 가능

"""

In [140]:
x= dict() #{} #[] #list() 
x
#type(x) #dict

{}

In [149]:
#딕셔너리 생성 1번 #dict(키1: 값1, 키2: 값2, ...)
per=dict(height=180, weight=70, bt='O') #{'height': 180, 'weight': 70, 'bt': 'O'}
per

per=dict(zip(['height', 'weight', 'bt'],[180,70,'O']) )
per #{'height': 180, 'weight': 70, 'bt': 'O'} 동일한 결과.

per=dict([('height',180), ('weight',70), ('bt','O')])
per #{'height': 180, 'weight': 70, 'bt': 'O'}

#dict

per=dict({'height':180, 'weight':70, 'bt':'O'})
per#{'height': 180, 'weight': 70, 'bt': 'O'}

{'height': 180, 'weight': 70, 'bt': 'O'}

In [144]:
zip(['height', 'weight', 'bt'],[180,70,'O']) 
#<zip at 0x23447286148>, 0x -> 16진수
# zip 나온 값으로 가면 확인 할 수있다.

In [152]:
a={1:'hi'}
a
a={'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [155]:
b={1:'a'}
print(a)
print(b)
a[2]='b'#{'a': [1, 2, 3], 2: 'b'}
a
a['name'] ='hgd'
a

{'a': [1, 2, 3], 2: 'b'}
{1: 'a'}

{'a': [1, 2, 3], 2: 'b', 'name': 'hgd'}

In [174]:
#딕셔너리는 콤마로 구분, 
a['name'] ='lss'
a
#딕셔너리[키]= '값'.
a['weight']=70.5 # {'a': [1, 2, 3], 2: 'b', 'name': 'lss', 'weight': 70.5}
a
a['name'] #딕셔너리[키] => 값
a
'weight' in a #True
'sky' in a #False
'sky' not in a #True

len(a) #4
a.keys() #dict_keys(['a', 2, 'name', 'weight'])

for k in a.keys():
    print(k)
# a
# 2
# name
# weight
for v in a.values():
    print(v)
# [1, 2, 3]
# b
# lss
# 70.5
list(a.values()) #[[1, 2, 3], 'b', 'lss', 70.5]

for i in a.items():
    print(i)
# ('a', [1, 2, 3])
# (2, 'b')
# ('name', 'lss')
# ('weight', 70.5)
#소괄호로 묶여 있는거 보니깐 tuple로 묶여 있다

a
2
name
weight
[1, 2, 3]
b
lss
70.5
('a', [1, 2, 3])
(2, 'b')
('name', 'lss')
('weight', 70.5)

NameError: name 'tpye' is not defined

In [166]:
list(a.keys()) #['a', 2, 'name', 'weight'] #리스트로 바꿔서 참조 가능

['a', 2, 'name', 'weight']

In [175]:
a

{'a': [1, 2, 3], 2: 'b', 'name': 'lss', 'weight': 70.5}

In [177]:
a['name']
a.get('name') #'lss'
a['nn']

KeyError: 'nn'

In [179]:
print(a.get('nn')) #None #존재하지 않는 키에 관해 -> 처리해주는 작업.
#get함수를 써서 별도의 처리를 해야한다. 안그러면 오류 떠서 작업이 안되게 만듬

None

In [183]:
a['id']='test'

In [186]:
a.get('nn','kim')
# 딕셔너리 a에 nn 키가 없다면 'kim'을 출력
# 디폴트(기본값) 설정
a.get('id','guest') # 'test' #참조시 위에 test값으로 존재하기 때문에. 
a.get('id2','guest') #'guest'#참조할게 없어 새로운 키 값 부여.

'test'

In [198]:
#set: 집합
#x={1,1,2,2,3} => x={1,2,3}
#중복이 허용 안되는 자료 구조
s=set([1,2,3])
s
s2=set('hello') #{'e', 'h', 'l', 'o'}
s2
#set(집합) 자료구조 특징
#중복 허용 x, 순서가 없음

#s2[1] #자리가 정해져있지 않아서, 1번이 없다. 보장이 안되기 때문에(Error)
s=set(['k','i','m'])
s #{'i', 'k', 'm'}
slist=list(s)
slist #이렇게 바꿔놓고 {'i', 'k', 'm'}
slist[1] #'k'

s=tuple(['k','i','m'])
s[0] #'k'

#집합 연산을 할때. 베이즈 이론, 교집합 부분.

In [188]:
#[] -> 리스트, {} -> 딕셔너리, set. ()-> tuple 튜플
#set {}, 딕셔너리랑 다른점은 Key, value 모양이 아니다.

In [200]:
s1=set([1,2,3,4])
s2=set([5,6,3,4])

In [202]:
s1 & s2 #{3, 4}
s1.intersection(s2) #(대상)을 적어줘야 교집합 나온다. #{3, 4}

{3, 4}

In [204]:
#힙집합
s1 | s2 #{1, 2, 3, 4, 5, 6}
s1.union(s2) #{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [206]:
#차집합
s1-s2 #{1, 2}
s1.difference(s2) #{1, 2}

{1, 2}

In [207]:
#함수를 배우는 이유는 검증이 끝났고 에러가 없다. 안전하고 편안하게 만들어주기 때문에 함수를 사용한다.
#함수를 많이 알고있는것이 좋다.

In [212]:
s=set([1,2])
s
s.add(3)
s
#s.add(4,5) #TypeError: add() takes exactly one argument (2 given)
#s.add([4,5]) #TypeError: unhashable type: 'list'
s.update([4,5])
s #{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
"""
참: "test" [1,2], (1,2), 1
거짓; "", [], (), 0, None

조건문(explicit programming)

if 고양이가 나타나면: #if 조건 : , colon까지 조건. 다른 언어랑 차이점 
    브레이크를 밟는다. #들여쓰기 해줘야한다. 문장이 종속 되어야 하기 때문에.
    크략션을 울린다.
달린다.(별개의 조건-> 무조건 수행한다 => 달린다) #들여쓰기의 조건에 따라.

"""

In [ ]:
"""
강화학습에 대한 내용
알파고제로 / 알파고 
밖에 데이터까지 / 안의 데이터로만 강화 학습


자율주행(조건문으로 다 커버할 수없다)
각각의 상황에 대해 다 기술하지 못하기 때문에 
explicit programming(조건문).
모든 경우의 수를 입력할 수 없다.(코딩으로 다 할 수없다)
<-> implicit programming => AI 힘(적절한 판단을 할 수 있도록)

"""

In [ ]:
#드론시대 
#택배(택배창고-> a,b,c,d,e -> 택배창고) 5! 5팩토리얼 경우의 수.
#다항시간(현실적 솔루션이 나올 시간)까지 나오지 않는다. 
#환경적인 요인도 생각. 바람, 그런 것
#P NP 난제. AI로 접근. 최적의 솔루션이라고 보장은 아니고 확률적으로 해결하겠다.
#AI가 황당한 행동하는걸 줄이는게 관건

In [217]:
x=10
if x==10: # 10하고 같다면
    print("10입니다") # 들여쓰기 안하면 IndentationError: expected an indented block
    print("5보다 큽니다")# 띄여쓰기 4칸 = 들여쓰기 tap
print("문장을 수행합니다")

#비교를 할려면 "==" 두번써야한다. '='쓰면 같다라는 뜻.
# not => != ,

10입니다
5보다 큽니다
문장을 수행합니다

In [226]:
# 참: "test" [1,2], (1,2), 1
# 거짓; "", [], (), 0, None

if None:
    print("수행합니다")
    
if a.get('nn'):
    print("해당 키가 없습니다. 확인하세요") #None으로 나왔을 경우 이런식으로 처리

In [234]:
# Pass를 사용하면 조건문 형식은 갖춰져 있으면서도 조건문 내용을 수행하지 않고 실행.
x=10
if x==10:
    pass
print("KK")

if x==10:
    print("안녕")
    if x%2==0: # x%2 => 짝수이면
        print("하세요")
#indent Error 들여쓰기 관련 에러

KK
안녕
하세요

In [238]:
x=5
if x==5:
    print("x에는")
print("5입니다.")

x에는
5입니다.

In [241]:
x=5 
if x>=3:
    print("3이상")
    if x<10:
        print("10미만")
    if x<5:
        print("5미만")
print("입니다")

3이상
10미만
입니다

In [243]:
if []:
    print("참")
else:
    print("거짓")
    
if [1,2]: #참 문장 수행
    print("참")
else:
    print("거짓")
    
if None: # 거짓 문장 수행
    print("참")
else:
    print("거짓")

거짓
참
거짓

In [247]:
bool(0) #False
bool(10) #True
bool('python') #True
bool('') #False

False

In [250]:
a= [1,2,3]
if a: #리스트 채워져있으니깐,True. 빈 리스트는 거짓.
    print(a.pop()) #중첩함수, 안쪽 함수부터 수행. pop 함수 마지막 입력된 값을 꺼내는것 #3ㅁ
a   #[1, 2]

3

[1, 2]

In [251]:
a=[1,2,3] #3 ->[1,2] # 2-> [1]
while a: 
        print(a.pop())
    

# while(~동안), a 변수 값이 참인 동안에 계속 반복해라.(반복문)
#pop 가장 마지막에 입력된 순으로 꺼내고 제거됨.

3
2
1

In [5]:
a=int(input())
if a<10:
    print("10보다 작아요")
else:
    print("10보다 커요")

10
10보다 커요

In [9]:
#for문 사용 방법

for i in range(1,5000): # (10)-> 0~9까지
    print()

SyntaxError: unexpected EOF while parsing (<ipython-input-9-c05bc5cb11d0>, line 4)

In [2]:
#문제 2번
p=int(input("표준가격: "))
g=int(input("Cash 쿠폰: "))
print(int(p-g))

표준가격: 27000
Cash 쿠폰: 3000
24000

In [1]:
#문제 2번
x=int(input())
y=int(input())
print(x-y)

27000
3000
24000

In [18]:
#문제 3번

a=tuple(range(-10,11,2))
a=list(a)
a.pop(10)
tuple(a)

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [19]:
#문제 3번
a=list(tuple(range(-10,11,2)))
a.pop(10)
tuple(a)

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [35]:
#문제 4번
n=(-32,75,97,-10,9,32,4,-15,0,76,14,2)
list(n)
y =[]
for x in n:
    if x%2 !=0:
        y.append(x)
tuple(y)

(75, 97, 9, -15)

In [38]:
#문제 5 set을 사용
a=[1,1,1,2,2,3,3,3,4,4,5]
s=set(a)
s

{1, 2, 3, 4, 5}

In [41]:
#문제 1번
list(range(1,5001))
ts
#먼저 숫자들을 스트링으로 변경해서 각자리 더해서 나오는 값이

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [2]:
pay = int(input())
coupon = int(input()[4:])
print(pay - coupon)

12345
5000

ValueError: invalid literal for int() with base 10: ''